*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: kanit, "comic sans";
}
h1{
    color: rgb(235, 64, 135);
    font-size: 3rem ;
}
h2{
    font-size: 1.6rem;
}
p{
    font-size: 1.4rem;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
    color: rgb(71, 170, 236);
}
img{
    width: 120px;
    float: left;
}



.text-alligner{
    text-align: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.text-white{
    color: #fff;
}
.column{
    width: calc(100%/ 3 - 1rem);
    background-color: black;
    float: left;
    margin: 0.5rem;
    border-bottom: 2px solid black;
}
.margin-left{
    margin-left: 135px;
    padding-top: 12px;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
